<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapplication.advancedlibrary">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdvancedLibrary">
        <activity
            android:name="com.myapplication.advancedlibrary.SearchResult"
            android:label="Search Result"
            android:exported="false" />
        <activity
            android:name="com.myapplication.advancedlibrary.SearchActivity"
            android:exported="false"
            android:label="Search Book"
            android:parentActivityName="com.myapplication.advancedlibrary.MainActivity" />
        <activity
            android:name="com.myapplication.advancedlibrary.UpdateActivity"
            android:parentActivityName="com.myapplication.advancedlibrary.MainActivity" />
        <activity
            android:name="com.myapplication.advancedlibrary.AddActivity"
            android:label="Add Book"
            android:parentActivityName="com.myapplication.advancedlibrary.MainActivity" />
        <activity
            android:name="com.myapplication.advancedlibrary.MainActivity"
            android:label="Book Library">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>